<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mailing Admin</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="/static/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/static/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/lib/unix.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <style>
        .success-icon {
    border: 2px solid #5cb85c; /* green color */
    border-radius: 50%; /* make it round */
    width: 100px; /* adjust width and height as needed */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; /* adjust margin as needed */
}

.success-icon i {
    font-size: 50px; /* adjust icon size as needed */
    color: #5cb85c; /* green color */
}


    </style>
</head>

<body class="bg-primary">

    <div class="unix-login">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="index.html"><span>Mailing Solution</span></a>
                        </div>
                        <div class="login-form">
                            <h4>Payment successfull</h4>
                            <div class="success-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <h4>You will be recieving email from our site for any news on technology. Congratulations</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>